@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather",serif;
}
/* banner starts */
.banner-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../images/Banner\ Image.png);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.banner-content h4,h1{
    color: white;  
}
.banner-content h4{
    font-size: 25px;
    font-weight: 400;
    margin-top: 250px;
}
.banner-content h1{
    font-size: 60px;
    font-weight: 900;
}